body {
    background-color: #1e1e32;
    font-family: 'Press Start 2P', cursive;
    width: 100vw;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    color: #fff;
    text-align: center;
}

[s-woods]::before {
    content: "";
    position: absolute;
    bottom: 250px;
    left: calc(50% - 400px);
    background-color: #37966455;
    
    width: 800px;
    height: 500px;
}

[s-woods] {
    margin: auto;
    background-color: #379664;
    position: relative;
    border-radius: 50%;
}

.icons {
    width: 100px;
    height: 50px;
    padding: 4px;
    display: flex;
    opacity: .9;
}

.weapeon-icon {
    background: #000;
    width: 50px;
    height: 50px;
    font-size: 36px;
}

.slash {
    opacity: .9;
}

.heart {
    opacity: .8;
}

h1.gameover {
    margin-top: 150px;
    font-size: 4rem;
}

h2 {
    color: #fff;
    text-align: center;
    width: 100%;
    display: block;
}

h2 > span {
    color: #32c84b;
}

.death-object {
    display: none;
    width: 230px;
    height: 100vh;
    
    bottom: 0px;
    top: 0px;

    position: fixed !important;
    background-color: #64284199;
}

.death-object div {
}